BasedOnStyle: Chromium

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: WebKit
BreakConstructorInitializers: BeforeComma
ColumnLimit: 120
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^".*'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*(\.h|\.hpp|\.inl)>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        4
    SortPriority:    0
    CaseSensitive:   false
IndentCaseLabels: false
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
ObjCBlockIndentWidth: 4
PackConstructorInitializers: Never
SpacesBeforeTrailingComments: 1
Standard: Latest
