[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/gli"]
	path = 3rdparty/gli
	url = https://github.com/g-truc/gli.git
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rdparty/SPIRV-Cross"]
	path = 3rdparty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "3rdparty/Catch2"]
	path = 3rdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rdparty/dxc"]
	path = 3rdparty/dxc
	url = https://github.com/andrejnau/dxc
[submodule "3rdparty/DirectX-Headers"]
	path = 3rdparty/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "3rdparty/Vulkan-Headers"]
	path = 3rdparty/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/nowide"]
	path = 3rdparty/nowide
	url = https://github.com/boostorg/nowide
[submodule "3rdparty/MVKPixelFormats"]
	path = 3rdparty/MVKPixelFormats
	url = https://github.com/andrejnau/MVKPixelFormats.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3rdparty/stb_image"]
	path = 3rdparty/stb_image
	url = https://github.com/andrejnau/stb_image.git
[submodule "assets/resources"]
	path = assets/resources
	url = https://github.com/andrejnau/FlyCubeResources.git
